*{
    background-color: beige;
}
#HA{
    color: darkblue; background-color: aliceblue; text-align: center;font-size: xx-large;
    font-style: italic; font-family: cursive;
}
#HF{
    color: darkblue; background-color: aliceblue; text-align: center;font-size: xx-large;
    font-style: italic;font-family: cursive;
}

div{
    
    background-color: burlywood
    color(srgb red green rgb(5, 5, 237));
    border: 2px solid black;
    display: inline-block;
}
.Refridgerators{
    display: inline-flex;
    background-color: burlywood; color: blue;
    height: 50px;width: 300px;   
    text-align: center;
    position: relative;

}
#image1{
    height: 200px; width: 200px;
    background-image: url("images/french door fridge.jpg");
    background-size: cover;
}
#image2{
    height: 200px; width: 200px;
    background-image: url("images/fridge2.jpg");
    background-size: cover;
}
#image3{
    height: 200px; width: 200px;
    background-image: url("images/fridge1.jpg");
    background-size: cover;
}
#image4{
    height: 200px; width: 200px;
    background-image: url("images/french door fridge2.jpg");
    background-size: cover;
}
.Stoves{
    display: inline-block;
    background-color: burlywood; color: blue;
    height: 80px;width: 300px;
    text-align: center;
    position: relative;
    

}
#image5{
    height: 200px; width: 200px;
    background-image: url("images/stove.jpg");
    background-size: cover;
}
#image6{
    height: 200px; width: 200px;
    background-image: url("images/stove2.jpg");
    background-size: cover;
}
#image7{
    height: 200px; width: 200px;
    background-image: url("images/stove3.jpg");
    background-size: cover;
}
#image8{
    height: 200px; width: 200px;
    background-image: url("images/stove4.jpg");
    background-size: cover;
}
#par1{
    background-color: brown; color: darkblue;
    border: 3px dotted tomato;
    border-radius: 15px;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
    font-style: oblique;

}
#par2{
    background-color: brown; color: darkblue;
    border: 3px dotted tomato;
    border-radius: 15px;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
    font-style: oblique;

}

#par3{
    background-color: brown; color: darkblue;
    border: 3px dotted tomato;
    border-radius: 15px;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
    font-style: oblique;

}

.Dishwasher{
    display: inline-block;
    background-color: burlywood; color: blue;
    height: 100px;width: 200px;
    text-align: center;
    position: relative;
    
}
#image9{
    height: 200px; width: 200px;
    background-image: url("images/dishwasher1.jpg");
    background-size: cover;
}
#image10{
    height: 200px; width: 200px;
    background-image: url("images/dishwasher2.jpg");
    background-size: cover;
}
#image11{
    height: 200px; width: 200px;
    background-image: url("images/dishwasher3.jpg");
    background-size: cover;
}

.Laund-machine{
    display: inline-block;
    background-color: burlywood; color: blue;
    height: 50px;width:300px;
    text-align: center;
    justify-content: center;
}
#image12{
    height: 200px; width: 200px;
    background-image: url("images/washer-dryer.jpg");
    background-size: cover;
}
#image13{
    height: 200px; width: 200px;
    background-image: url("images/washer-dryer2.jpg");
    background-size: cover;
}
 #image14{
        height: 200px; width: 200px;
        background-image: url("images/washer-dryer3.jpg");
        background-size: cover;
    }



    #par4{
    background-color: brown; color: darkblue;
    border: 3px dotted tomato;
    border-radius: 15px;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
    font-style: oblique;

}

#par5{
    background-color: brown; color: darkblue;
    border: 3px dotted tomato;
    border-radius: 15px;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;font-style: oblique;

}

#par6{
    background-color: brown; color: darkblue;
    border: 3px dotted tomato;
    border-radius: 15px;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;font-style: oblique;

}

#par7{
    background-color: brown; color: darkblue;
    border: 3px dotted tomato;
    border-radius: 15px;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;font-style: oblique;
}

.LivingRoom{
    display: inline-block;
    background-color: burlywood; color: blue;
    height: 50px;width: 200px;
    text-align: center;
    position: static;
}
#image15{
    height: 200px; width: 200px;
    background-image: url("images/livingroom1.jpg");
    background-size: cover;
}
.BedRoom{
    display: inline-block;
    background-color: burlywood; color: blue;
    height: 50px;width: 400px;
    text-align: center;
    
}
#image16{
    height: 200px; width: 200px;
    background-image: url("images/bedroom1.jpg");
    background-size: cover;
}
#image17{
    height: 200px; width: 200px;
    background-image: url("images/bedroom2.jpg");
    background-size: cover;
}
#image18{
    height: 200px; width: 200px;
    background-image: url("images/bedroom3.jpg");
    background-size: cover;
}
.Dining{
    display: inline-block;
    background-color: burlywood; color: blue;
    height: 50px;width: 400px;
    text-align: center;
}
#image19{
    height: 200px; width: 200px;
    background-image: url("images/dining1.jpg");
    background-size: cover;
}
#image20{
    height: 200px; width: 200px;
    background-image: url("images/dining2.jpg");
    background-size: cover;
}
#image21{
    height: 200px; width: 200px;
    background-image: url("images/dining3.jpg");
    background-size: cover;
}