
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


.title {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 3em; 
    font-family: 'Playfair Display', serif; 
    color: black;
    z-index: 100;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(250px, auto); 
    gap: 20px; 
    padding: 150px 20px 20px; 
    max-width: 1200px;
    margin: 0 auto;
}


.photo {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.photo img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}


.photo:hover {
    transform: scale(1.05);
}


@media (max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr; 
    }
    .title {
        font-size: 2em;
    }
}
